# Read JHU data

In [227]:
import os
import numpy as np
import pandas as pd
import datetime

def smushed_notation(a):
    for i in np.arange(0,len(a)):
        item = a[i]
        item = item.upper()
        item = item.replace(' ','')
        item = item.replace('.','')
        item = item.replace('/','')
        item = item.replace('-','')
        item = item.replace('\'','')
        item = item.replace('COUNTY','')
        item = item.replace('PARISH','')
        a[i] = item
    return a


# Read in JHU Data
JHU_data =  pd.read_csv('../JHU dataset/JHU_filtered_timeseries.csv')
Location_key = pd.read_csv('../FIPS_tags/locationkey_without_flag.csv')
code_COUNTYSTATE = pd.read_csv('../FIPS_tags/code_COUNTYSTATE.csv')

In [230]:
all_counties = np.array(code_COUNTYSTATE['COUNTY,STATE'])


######################################################################
#  JHU Data
######################################################################

# Look for JHU data with cases present
JHU_data_np_before = np.array(JHU_data)
cases = [sum(JHU_data_np_before[i,5:])!=0 for i in np.arange(0,len(JHU_data_np_before))]
# Only want counties with cases
JHU_data_np = JHU_data_np_before[cases]


JHU_locs_with_cases = smushed_notation(JHU_data_np[:,0])

# Create Boolean flag if county has recorded case
JHU_cond = np.array([all_counties[i] in JHU_locs_with_cases for i in np.arange(0,len(all_counties))])
JHU_cond = JHU_cond.astype(int)

In [247]:
subs = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'D.C.': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [184]:
# Read in all daily updates
os.chdir('../Daily Updates/')
dir_contents = np.array(os.listdir())
cond = [dir_contents[i][-4:] =='.csv' for i in np.arange(0,len(dir_contents))]
csv_files = dir_contents[cond]

In [179]:






#
flag = pd.DataFrame(cond.astype(int),columns=['Flag'])

In [282]:
combo = []
seperating_index = [-1]
dates = []


for i in np.arange(0,len(csv_files)):
    current_file= csv_files[i]
    dates.append(current_file[:-4])
    file = pd.read_csv(current_file)
    county = np.array(file.County)
    long_states = list(file.State)
    rev_subs = { v:k for k,v in subs.items()}
    state = [rev_subs.get(item,item)  for item in long_states]
    for j in np.arange(0,len(file)):
        if state[j] == 'D.C.':
            combo.append('Washington,DC')
        elif state[j] == 'GU':
            combo.append('Guam,GU')
        elif state[j] == 'PR':
            combo.append('SANJUAN,PR')
        elif state[j] == 'VI':
            combo.append('STTHOMAS,VI')
        else:
            combo.append((county[j]+','+state[j]))


daily_cases = np.array(combo)
daily_cases = smushed_notation(daily_cases)

# Create Boolean flag if county has recorded case
DAILY_cond = np.array([all_counties[i] in daily_cases for i in np.arange(0,len(all_counties))])
DAILY_cond = DAILY_cond.astype(int)

In [288]:
# Some locations were not listed in county csv file
badlist = list(set(daily_cases) - set(all_counties))
badindexes = []


# Locate all locations that were not listed
combo_cases = np.column_stack((np.arange(0,len(daily_cases)),daily_cases))
for i in np.arange(0,len(combo_cases)):
    if combo_cases[i,1] in badlist:

SyntaxError: unexpected EOF while parsing (<ipython-input-288-20a881002b71>, line 11)

In [283]:
seperating_index

[-1, 1536, 2761, 4112, 1000000000]

In [29]:
# Read in all daily updates
os.chdir('../Daily Updates/')
dir_contents = np.array(os.listdir())
cond = [dir_contents[i][-4:] =='.csv' for i in np.arange(0,len(dir_contents))]
csv_files = dir_contents[cond]

In [24]:
cond

In [7]:
d24 = pd.read_csv('Mar 24.csv')
d25 = pd.read_csv('Mar 25.csv')

          State                        County  Cases
0       Alabama                       Baldwin      3
1       Alabama                       Calhoun      2
2       Alabama                      Chambers      2
3       Alabama                       Cullman      2
4       Alabama                        Elmore      6
5       Alabama                      Franklin      1
6       Alabama                       Houston      1
7       Alabama                       Jackson      1
8       Alabama                     Jefferson     86
9       Alabama                         Lamar      1
10      Alabama                    Lauderdale      3
11      Alabama                           Lee     19
12      Alabama                     Limestone      1
13      Alabama                       Madison     21
14      Alabama                        Marion      1
15      Alabama                        Mobile      2
16      Alabama                    Montgomery      4
17      Alabama                        Shelby     22
18      Alabama                     St. Clair      3
19      Alabama                     Talladega      1
20      Alabama                    Tallapoosa      1
21      Alabama                    Tuscaloosa      9
22      Alabama                        Walker      3
23      Alabama                    Washington      1
24       Alaska                     Anchorage     17
25       Alaska  Fairbanks North Star Borough      7
26       Alaska       Juneau City and Borough      1
27       Alaska       Kenai Peninsula Borough      3
28       Alaska     Ketchikan Gateway Borough      6
29       Alaska     Matanuska-Susitna Borough      2
...         ...                           ...    ...
1196  Wisconsin                          Dunn      1
1197  Wisconsin                    Eau Claire      4
1198  Wisconsin                   Fond du Lac     16
1199  Wisconsin                         Green      1
1200  Wisconsin                     Jefferson      2
1201  Wisconsin                       Kenosha     12
1202  Wisconsin                     La Crosse      5
1203  Wisconsin                      Marathon      1
1204  Wisconsin                     Milwaukee    206
1205  Wisconsin                     Outagamie      2
1206  Wisconsin                       Ozaukee     14
1207  Wisconsin                        Pierce      3
1208  Wisconsin                        Racine      5
1209  Wisconsin                          Rock      3
1210  Wisconsin                          Sauk      3
1211  Wisconsin                     Sheboygan      6
1212  Wisconsin                     St. Croix      3
1213  Wisconsin                      Walworth      3
1214  Wisconsin                    Washington     15
1215  Wisconsin                      Waukesha     31
1216  Wisconsin                     Winnebago      5
1217  Wisconsin                          Wood      1
1218    Wyoming                      Campbell      1
1219    Wyoming                        Carbon      2
1220    Wyoming                       Fremont     10
1221    Wyoming                       Laramie      7
1222    Wyoming                       Natrona      1
1223    Wyoming                          Park      1
1224    Wyoming                      Sheridan      4
1225    Wyoming                         Teton      2

[1226 rows x 3 columns]