In [142]:
import os
import numpy as np
import pandas as pd
import datetime

def smushed_notation(a):
    for i in np.arange(0,len(a)):
        item = a[i]
        item = item.upper()
        item = item.replace(' ','')
        item = item.replace('.','')
        item = item.replace('/','')
        item = item.replace('-','')
        item = item.replace('\'','')
        item = item.replace('COUNTY','')
        item = item.replace('PARISH','')
        a[i] = item
    return a


def fips_finder(smushed,key):
    '''
    input
    smushed = 1-D array in format of 'COUNTY,STATE'
    key = 2-D array in format col1:'FIPS' , col2:'COUNTY,STATE'
    
    output
    1-D array of fips values matching to smushed
    if no fips value exists, FIPS='.'
    '''
    fipslist=[]
    for i in np.arange(0,len(smushed)):
        n=0
        for j in np.arange(0,len(key)):
            if (smushed[i] == key[j,1]):
                fipslist.append(str(key[j,0]))
                n=1
        if (n==0):
            fipslist.append('.')
    fipslist = np.array(fipslist)
    # Catch errors?
    cond = [fipslist[i]=='.' for i in np.arange(0,len(fipslist))]
    if (sum(cond)/len(cond)) >= 0.25:
        print('Error likely, more than one fourth unmatched')
    return fipslist


######################################################################
######################################################################
######################################################################
######################################################################
######################################################################

# Read in JHU Data
JHU_data =  pd.read_csv('../JHU dataset/JHU_filtered_timeseries.csv')
code_COUNTYSTATE = pd.read_csv('../FIPS_tags/code_COUNTYSTATE.csv', dtype=object)

code_COUNTYSTATE_np = np.array(code_COUNTYSTATE)

######################################################################
#  JHU Data
######################################################################

# Look for JHU data with cases present
JHU_data_np = np.array(JHU_data)
JHU_locs_with_cases = smushed_notation(JHU_data_np[:,0])

# Create Boolean flag if county has recorded case
fipsvalues = fips_finder(JHU_locs_with_cases,code_COUNTYSTATE_np)

######################################################################
#  Create header row with datetimes
######################################################################

header_row = ['FIPS']

for i in np.arange(4,len(JHU_data_np[0])):
    date = JHU_data.columns[i]
    parts = date.split('/')
    if len(parts[0])==1:
        parts[0] = '0'+parts[0]
    if len(parts[1])==1:
        parts[1] = '0'+parts[1]
    parts[2] = parts[2]+'20'
    day = (parts[0]+'/'+parts[1]+'/'+parts[2])
    header_row.append(str(datetime.datetime.strptime(day, '%m/%d/%Y')))

######################################################################
#  Create header row with datetimes
######################################################################

full_pic = np.column_stack((fipsvalues,JHU_data_np[:,4:]))


important_info = np.vstack((header_row,full_pic))
array_length = (len(important_info[0])-1)*(len(important_info[:,0])-1)
empty_array = np.chararray((array_length,3),itemsize='100')

k = 0
for i in np.arange(1,len(important_info[0])):
    for j in np.arange(1,len(important_info)):
        empty_array[k,0] = str(important_info[j,0])
        empty_array[k,1] = str(important_info[0,i])
        empty_array[k,2] = str(important_info[j,i])
        k += 1
        
        
JHU_3col_np = empty_array.decode('utf-8')
JHU_3col_pd = pd.DataFrame(JHU_3col_np, columns=['FIPS','Datetime','Cases'])
JHU_3col_pd.to_csv('../JHU_timeseries_formatted.csv',index=False)

In [144]:
JHU_3col_pd

       FIPS             Datetime Cases
0     53035  2020-01-22 00:00:00     0
1     06095  2020-01-22 00:00:00     0
2     06087  2020-01-22 00:00:00     0
3     06055  2020-01-22 00:00:00     0
4     06111  2020-01-22 00:00:00     0
5     25027  2020-01-22 00:00:00     0
6     13135  2020-01-22 00:00:00     0
7     13089  2020-01-22 00:00:00     0
8     13115  2020-01-22 00:00:00     0
9     13113  2020-01-22 00:00:00     0
10    48183  2020-01-22 00:00:00     0
11    34025  2020-01-22 00:00:00     0
12    34005  2020-01-22 00:00:00     0
13    34007  2020-01-22 00:00:00     0
14    34031  2020-01-22 00:00:00     0
15    34039  2020-01-22 00:00:00     0
16    08037  2020-01-22 00:00:00     0
17    08069  2020-01-22 00:00:00     0
18    08005  2020-01-22 00:00:00     0
19    08051  2020-01-22 00:00:00     0
20    17089  2020-01-22 00:00:00     0
21    42089  2020-01-22 00:00:00     0
22    42101  2020-01-22 00:00:00     0
23        .  2020-01-22 00:00:00     0
24    51013  2020-01-22 00:00:00     0
25    51177  2020-01-22 00:00:00     0
26    51107  2020-01-22 00:00:00     0
27    24033  2020-01-22 00:00:00     0
28    19155  2020-01-22 00:00:00     0
29    37029  2020-01-22 00:00:00     0
...     ...                  ...   ...
9138  41053  2020-03-09 00:00:00     0
9139  41017  2020-03-09 00:00:00     0
9140  17111  2020-03-09 00:00:00     0
9141  17097  2020-03-09 00:00:00     0
9142  42017  2020-03-09 00:00:00     0
9143  51085  2020-03-09 00:00:00     0
9144  45057  2020-03-09 00:00:00     0
9145  47163  2020-03-09 00:00:00     0
9146  18081  2020-03-09 00:00:00     0
9147  18067  2020-03-09 00:00:00     0
9148  18141  2020-03-09 00:00:00     0
9149  31107  2020-03-09 00:00:00     0
9150  39151  2020-03-09 00:00:00     0
9151  27003  2020-03-09 00:00:00     0
9152  27109  2020-03-09 00:00:00     0
9153  49043  2020-03-09 00:00:00     0
9154  09001  2020-03-09 00:00:00     0
9155  09005  2020-03-09 00:00:00     0
9156  22071  2020-03-09 00:00:00     0
9157  46103  2020-03-09 00:00:00     0
9158  46005  2020-03-09 00:00:00     0
9159  46023  2020-03-09 00:00:00     0
9160  46035  2020-03-09 00:00:00     0
9161  46099  2020-03-09 00:00:00     0
9162  46009  2020-03-09 00:00:00     0
9163  35053  2020-03-09 00:00:00     0
9164  35001  2020-03-09 00:00:00     0
9165  26125  2020-03-09 00:00:00     0
9166  26163  2020-03-09 00:00:00     0
9167  10003  2020-03-09 00:00:00     0

[9168 rows x 3 columns]